* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

label {
  display: block;
  margin-top: 10px;
}

.container {
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 800px;
  margin: auto;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.upload_file_form{
  float: right;
}

.jumbotron {
  height: 60px;
  margin-bottom: 10px;
  padding-bottom: 0 px;
}

.content_border {
  border-bottom: thin solid #dee2e6;
  padding-left: 20px;
  padding-right: 20px;
}

.inline_text {
  display: inline;
}

.my_drive_header {
  height: 45px;
  font-size: 20px;
  font-weight: 400;
}

.file_op_btn {
  display: block;
  border: none;
  float: right;
  height: 30px;
  width: 30px;
  margin: 0px 15px 0px 0px;
  background-size: cover;background-color: transparent;
}

label {
  margin: 0px;
}

.upload_label {
  cursor: pointer;
}